# Python virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/

# ML models
*.h5
*.pt
*.pth

# Logs & cache
*.log
.cache/

# OS
.DS_Store
Thumbs.db

dataset/
backend/debug_crops/